# Get text CSV from et_data_enriched

In [9]:
import pandas as pd

In [2]:
df = pd.read_csv("/Users/kerengruteke/projects/Cognitive-State-Decoding/data/interim/et_data_enriched.csv")

In [ ]:
df = df.drop(columns="Unnamed: 0")
df

In [10]:
df

,Unnamed: 0,list,article_ind,reread,practice,q_ind,has_preview,answers_order,correct_answer,FINAL_ANSWER,...,normalized_part_dwell_time,normalized_part_ID,reverse_ID,reverse_part_ID,part_ID,normalized_ID,batch,article_id,level,paragraph_id
0,0,12,1,0,0,1,Hunting,"['1', '3', '2', '0']",3,3,...,0.039284,0.000000,-87,-63,1,0.000000,1,9,Adv,1
1,1,12,1,0,0,1,Hunting,"['1', '3', '2', '0']",3,3,...,0.000000,0.015873,-86,-62,2,0.011494,1,9,Adv,1
2,2,12,1,0,0,1,Hunting,"['1', '3', '2', '0']",3,3,...,0.018353,0.031746,-85,-61,3,0.022989,1,9,Adv,1
3,3,12,1,0,0,1,Hunting,"['1', '3', '2', '0']",3,3,...,0.004399,0.047619,-84,-60,4,0.034483,1,9,Adv,1
4,4,12,1,0,0,1,Hunting,"['1', '3', '2', '0']",3,3,...,0.000000,0.063492,-83,-59,5,0.045977,1,9,Adv,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1565877,1565877,14,10,0,0,1,Gathering,"['1', '0', '2', '3']",1,1,...,0.000000,0.904762,-4,-4,39,0.974684,3,2,Adv,5
1565878,1565878,14,10,0,0,1,Gathering,"['1', '0', '2', '3']",1,1,...,0.038970,0.928571,-3,-3,40,0.981013,3,2,Adv,5
1565879,1565879,14,10,0,0,1,Gathering,"['1', '0', '2', '3']",1,1,...,0.024156,0.952381,-2,-2,41,0.987342,3,2,Adv,5
1565880,1565880,14,10,0,0,1,Gathering,"['1', '0', '2', '3']",1,1,...,0.033631,0.976190,-1,-1,42,0.993671,3,2,Adv,5
1565881,1565881,14,10,0,0,1,Gathering,"['1', '0', '2', '3']",1,1,...,0.058721,1.000000,0,0,43,1.000000,3,2,Adv,5

In [ ]:
df[["IA_LABEL", "IA_ID", "unique_paragraph_id"]]

In [3]:
 # Remove duplicates
without_duplicates = df[
    [
        "unique_paragraph_id",
        "IA_ID",
        "IA_LABEL",
    ]
].drop_duplicates()

# Group by paragraph_id, article_title, level and join all IA_LABELs (words)
text_from_et = without_duplicates.groupby(["unique_paragraph_id"])["IA_LABEL"].apply(list)

text_from_et = text_from_et.apply(lambda text: " ".join(text))
text_from_et

unique_paragraph_id
1_10_Adv_1    Agios Efstratios is so remote, so forgotten by...
1_10_Adv_2    But, because the island still runs on cash, th...
1_10_Adv_3    Kakali has badgered the government and a major...
1_10_Adv_4    Created to help island communities survive whe...
1_10_Adv_5    For Agios Efstratios and its closest large nei...
                                    ...
3_9_Adv_4     In 2015, SOHAY helped 1,540 children to leave ...
3_9_Ele_1     The small room looks like a classroom. The pos...
3_9_Ele_2     For 14 years, SOHAY, a non-governmental organi...
3_9_Ele_3     SOHAY also has classes for parents and employe...
3_9_Ele_4     In 2015, SOHAY helped 1,540 children to leave ...
Name: IA_LABEL, Length: 324, dtype: object

In [4]:
texts = text_from_et.reset_index()
texts

    unique_paragraph_id                                           IA_LABEL
0            1_10_Adv_1  Agios Efstratios is so remote, so forgotten by...
1            1_10_Adv_2  But, because the island still runs on cash, th...
2            1_10_Adv_3  Kakali has badgered the government and a major...
3            1_10_Adv_4  Created to help island communities survive whe...
4            1_10_Adv_5  For Agios Efstratios and its closest large nei...
..                  ...                                                ...
319           3_9_Adv_4  In 2015, SOHAY helped 1,540 children to leave ...
320           3_9_Ele_1  The small room looks like a classroom. The pos...
321           3_9_Ele_2  For 14 years, SOHAY, a non-governmental organi...
322           3_9_Ele_3  SOHAY also has classes for parents and employe...
323           3_9_Ele_4  In 2015, SOHAY helped 1,540 children to leave ...

[324 rows x 2 columns]

In [5]:
texts["length"] = texts["IA_LABEL"].str.len()
texts

,unique_paragraph_id,IA_LABEL,length
0,1_10_Adv_1,"Agios Efstratios is so remote, so forgotten by...",569
1,1_10_Adv_2,"But, because the island still runs on cash, th...",503
2,1_10_Adv_3,Kakali has badgered the government and a major...,601
3,1_10_Adv_4,Created to help island communities survive whe...,935
4,1_10_Adv_5,For Agios Efstratios and its closest large nei...,698
...,...,...,...
319,3_9_Adv_4,"In 2015, SOHAY helped 1,540 children to leave ...",732
320,3_9_Ele_1,The small room looks like a classroom. The pos...,377
321,3_9_Ele_2,"For 14 years, SOHAY, a non-governmental organi...",660
322,3_9_Ele_3,SOHAY also has classes for parents and employe...,684
323,3_9_Ele_4,"In 2015, SOHAY helped 1,540 children to leave ...",435

In [6]:
texts["level"] = texts["unique_paragraph_id"].str.split("_").str[2]
texts

,unique_paragraph_id,IA_LABEL,length,level
0,1_10_Adv_1,"Agios Efstratios is so remote, so forgotten by...",569,Adv
1,1_10_Adv_2,"But, because the island still runs on cash, th...",503,Adv
2,1_10_Adv_3,Kakali has badgered the government and a major...,601,Adv
3,1_10_Adv_4,Created to help island communities survive whe...,935,Adv
4,1_10_Adv_5,For Agios Efstratios and its closest large nei...,698,Adv
...,...,...,...,...
319,3_9_Adv_4,"In 2015, SOHAY helped 1,540 children to leave ...",732,Adv
320,3_9_Ele_1,The small room looks like a classroom. The pos...,377,Ele
321,3_9_Ele_2,"For 14 years, SOHAY, a non-governmental organi...",660,Ele
322,3_9_Ele_3,SOHAY also has classes for parents and employe...,684,Ele
323,3_9_Ele_4,"In 2015, SOHAY helped 1,540 children to leave ...",435,Ele

In [7]:
texts["id0"] = texts["unique_paragraph_id"].str.split("_").str[0]
texts["id1"] = texts["unique_paragraph_id"].str.split("_").str[1]
texts["id3"] = texts["unique_paragraph_id"].str.split("_").str[3]
texts["id"] = texts["id0"] + "_" + texts["id1"] + "_" +  texts["id3"]
texts

,unique_paragraph_id,IA_LABEL,length,level,id0,id1,id3,id
0,1_10_Adv_1,"Agios Efstratios is so remote, so forgotten by...",569,Adv,1,10,1,1_10_1
1,1_10_Adv_2,"But, because the island still runs on cash, th...",503,Adv,1,10,2,1_10_2
2,1_10_Adv_3,Kakali has badgered the government and a major...,601,Adv,1,10,3,1_10_3
3,1_10_Adv_4,Created to help island communities survive whe...,935,Adv,1,10,4,1_10_4
4,1_10_Adv_5,For Agios Efstratios and its closest large nei...,698,Adv,1,10,5,1_10_5
...,...,...,...,...,...,...,...,...
319,3_9_Adv_4,"In 2015, SOHAY helped 1,540 children to leave ...",732,Adv,3,9,4,3_9_4
320,3_9_Ele_1,The small room looks like a classroom. The pos...,377,Ele,3,9,1,3_9_1
321,3_9_Ele_2,"For 14 years, SOHAY, a non-governmental organi...",660,Ele,3,9,2,3_9_2
322,3_9_Ele_3,SOHAY also has classes for parents and employe...,684,Ele,3,9,3,3_9_3
323,3_9_Ele_4,"In 2015, SOHAY helped 1,540 children to leave ...",435,Ele,3,9,4,3_9_4

In [8]:
texts.drop(columns=["id0", "id1", "id3"], inplace=True)

In [11]:
texts # id = batch, article id, paragrph id

,unique_paragraph_id,IA_LABEL,length,level,id
0,1_10_Adv_1,"Agios Efstratios is so remote, so forgotten by...",569,Adv,1_10_1
1,1_10_Adv_2,"But, because the island still runs on cash, th...",503,Adv,1_10_2
2,1_10_Adv_3,Kakali has badgered the government and a major...,601,Adv,1_10_3
3,1_10_Adv_4,Created to help island communities survive whe...,935,Adv,1_10_4
4,1_10_Adv_5,For Agios Efstratios and its closest large nei...,698,Adv,1_10_5
...,...,...,...,...,...
319,3_9_Adv_4,"In 2015, SOHAY helped 1,540 children to leave ...",732,Adv,3_9_4
320,3_9_Ele_1,The small room looks like a classroom. The pos...,377,Ele,3_9_1
321,3_9_Ele_2,"For 14 years, SOHAY, a non-governmental organi...",660,Ele,3_9_2
322,3_9_Ele_3,SOHAY also has classes for parents and employe...,684,Ele,3_9_3
323,3_9_Ele_4,"In 2015, SOHAY helped 1,540 children to leave ...",435,Ele,3_9_4

In [2]:
texts.rename(columns={"IA_LABEL": "text"}, inplace=True)

NameError: name 'texts' is not defined

In [14]:
texts

,unique_paragraph_id,text,length,level,id
0,1_10_Adv_1,"Agios Efstratios is so remote, so forgotten by...",569,Adv,1_10_1
1,1_10_Adv_2,"But, because the island still runs on cash, th...",503,Adv,1_10_2
2,1_10_Adv_3,Kakali has badgered the government and a major...,601,Adv,1_10_3
3,1_10_Adv_4,Created to help island communities survive whe...,935,Adv,1_10_4
4,1_10_Adv_5,For Agios Efstratios and its closest large nei...,698,Adv,1_10_5
...,...,...,...,...,...
319,3_9_Adv_4,"In 2015, SOHAY helped 1,540 children to leave ...",732,Adv,3_9_4
320,3_9_Ele_1,The small room looks like a classroom. The pos...,377,Ele,3_9_1
321,3_9_Ele_2,"For 14 years, SOHAY, a non-governmental organi...",660,Ele,3_9_2
322,3_9_Ele_3,SOHAY also has classes for parents and employe...,684,Ele,3_9_3
323,3_9_Ele_4,"In 2015, SOHAY helped 1,540 children to leave ...",435,Ele,3_9_4

# Load CSV and print text

In [3]:
import pandas as pd
texts2 = pd.read_csv("/Users/dima/Desktop/LaCC_lab/Keren's_project/texts.csv")

In [4]:
texts2

,Unnamed: 0,text_id,level,text
0,0,1_10_1,Adv,"Agios Efstratios is so remote, so forgotten by..."
1,1,1_10_1,Ele,The Greek island of Agios Efstratios is very r...
2,2,1_10_2,Adv,"But, because the island still runs on cash, th..."
3,3,1_10_2,Ele,But the island still uses only cash so the clo...
4,4,1_10_3,Adv,Kakali has badgered the government and a major...
...,...,...,...,...
319,318,3_9_2,Ele,"For 14 years, SOHAY, a non-governmental organi..."
320,321,3_9_3,Adv,SOHAY also runs sessions for parents and emplo...
321,320,3_9_3,Ele,SOHAY also has classes for parents and employe...
322,322,3_9_4,Adv,"In 2015, SOHAY helped 1,540 children to leave ..."
323,323,3_9_4,Ele,"In 2015, SOHAY helped 1,540 children to leave ..."

In [5]:
n = len(texts2)
n

324

In [9]:
n = len(texts2)
print(n)
for i in range(n):
    if i<=59 and i>=40:
        row = texts2.iloc[i]
        print("<<text_id>>"+row["text_id"])
        print("<<level>>"+row["level"])
        print("<<text>>"+row["text"])
        print("<<end>>")

324
<<text_id>>1_3_1
<<level>>Adv
<<text>>They call him the Robin Hood of the banks, a man who took out dozens of loans, worth almost half a million euros, with no intention of ever paying them back. Instead, Enric Duran handed the money out to projects that created and promoted alternatives to capitalism. After 14 months in hiding, Duran is unapologetic, even though his activities could land him in jail. “I'm proud of what I did,” he said in an interview by Skype from an undisclosed location.
<<end>>
<<text_id>>1_3_1
<<level>>Ele
<<text>>They call him the Robin Hood of the banks. He is a man who took out loans for almost half a million euros and never paid the money back. Enric Duran gave the money to projects that created and supported alternatives to capitalism. Duran has spent 14 months in hiding. He will not say he is sorry, even though he might go to prison for what he has done. “I'm proud of what I've done,” he said in an interview by Skype from a secret location.
<<end>>
<<text_id>>1_3_2
<<level>>Adv
<<text>>From 2006 to 2008, Duran took out 68 commercial and personal loans from 39 banks in Spain. He farmed the money out to social activists, funding speaking tours against capitalism and TV cameras for a media network. “I saw that, on one side, these social movements were building alternatives but that they lacked resources and communication capacities,” he said. “Meanwhile, our economy was perpetually growing, which lead to a system that created money out of nothing.”
<<end>>
<<text_id>>1_3_2
<<level>>Ele
<<text>>From 2006 to 2008, Duran took out 68 loans from 39 banks in Spain. He gave the money to social activists. They used the money to pay for speaking tours against capitalism and TV cameras for a media network. He said that these social activists didn't have enough money. At the same time, he said, the economy was constantly growing, which created money from nothing.
<<end>>
<<text_id>>1_3_3
<<level>>Adv
<<text>>The loans Duran swindled from banks were his way of regulating and denouncing this situation, he said. He started slowly. “I filled out a few credit applications with my real details. They denied me, but I just wanted to get a feel for what they were asking for.” From there, the former table-tennis coach began to weave an intricate web of accounts, payments and transfers. “I was learning constantly.” By the summer of 2007, he had discovered how to make the system work, applying for loans under the name of a false television production company. “Then, I managed to get a lot.” €492,000, to be exact.
<<end>>
<<text_id>>1_3_3
<<level>>Ele
<<text>>The loans Duran took out dishonestly from banks were his way of showing that this situation was wrong, he said. He started slowly. He tried to take out a few bank loans using his real details. The banks said no. Then, he learned how to get money from the banks. “I was learning all the time.” By the summer of 2007, he learned how to make the system work – he took out loans under the name of a false television production company. This way, he got a lot of money. €492,000, to be exact.
<<end>>
<<text_id>>1_3_4
<<level>>Adv
<<text>>Duran was arrested in Spain in 2009, on charges brought against him by six of the 39 banks that had lent him money. He spent two months in prison before being bailed for €50,000. In February 2013, facing up to eight years in prison, he decided to flee rather than stand trial. “I don't see legitimacy in a judicial system based on authority, because I don't recognize its authority,” he said. His actions, he said, were in the vanguard of a worldwide debate on the economic crisis. The timing pushed the anti-capitalist movement into the light, just as many Spaniards were seeking alternatives to a system that had wreaked havoc on their lives.
<<end>>
<<text_id>>1_3_4
<<level>>Ele
<<text>>Duran was arrested in Spain in 2009. He spent two months in prison; then, they let him out on €50,000 bail. In February 2013, with the possibility of up to eight years in prison, he decided to run away. His actions in 2006 to 2008 made many people notice the anti-capitalist movement for the first time. This happened at a time when many Spanish people were looking for alternatives to a system that has caused problems in their lives.
<<end>>
<<text_id>>1_3_5
<<level>>Adv
<<text>>While the same actions would probably be better understood in today's Spain, he said that they would not be needed. The anti-capitalist movement has grown from a fringe movement to one supported by thousands of Spaniards, he said, evidenced by the widely supported movements such as the Indignados. Duran is widening his focus to include Spain's justice system, by promoting restorative justice. “The people in Spain who believe that banks don't work, they think that I don't owe anything. I also think that,” he said. “But there is a part of a population that is not in agreement with us and I think I should respond to that.” In his case, he said, the element of reciprocity he could offer to banks might lie in the insight he gleaned from years of obtaining bank loans fraudulently. He could share his thoughts on “which best practices work and the bad ones that don't, for the general population and for bank workers”.
<<end>>
<<text_id>>1_3_5
<<level>>Ele
<<text>>In today's Spain, thousands of people support the anti-capitalist movement and groups such as the Indignados. Duran says he does not want to give back the money to the banks but he can offer them something. He learned a lot in the years when he was taking loans out dishonestly, so he can show the banks how they can improve things for people in general and for bank workers.
<<end>>
<<text_id>>1_4_1
<<level>>Adv
<<text>>How far away are we from a world where drones deliver packages? If Amazon is to be believed, not far at all. Others are not so sure: technical progress past this point isn't merely a matter of invention; it's a matter of public safety. Paul Misener, Amazon's vice-president of global public policy, told a congressional hearing recently that his company would be ready as soon as all the rules were in place. The Federal Aviation Authority (FAA) will finally have regulations governing the commercial use of unmanned aircraft by June 2016. But the technology has a long way to go before then and larger machines aren't airway-legal at all yet – only drones up to 25kg will be covered and the FAA points out in the proposed rules that, if you're going to crowd the skies with radio-controlled flying robots, they had better all be using different radio frequencies that nobody can jam or hijack.
<<end>>
<<text_id>>1_4_1
<<level>>Ele
<<text>>One day, drones could deliver packages to your home. When will this happen? If you believe Amazon, it will be soon. Other people are not so sure. They have to invent the right technology but, also, they have to consider public safety. Amazon says that they will be ready as soon as the Federal Aviation Authority (FAA) introduce rules for using drones. The FAA will finally introduce rules for using unmanned aircraft by June 2016. But the technology has a long way to go before then and larger machines aren't legal yet – only drones up to 25kg will be legal. And the FAA says in the rules they want to introduce that drones will all have to use different radio frequencies that nobody can block or hijack.
<<end>>
<<text_id>>1_4_2
<<level>>Adv
<<text>>Professor Sanjiv Singh, who runs a cargo delivery company called NearEarth, said that piloting a state-of-the-art drone was a little more like leaving it a trail of breadcrumbs: go to this altitude, perform this short task, go back home. But even short flights from a mobile landing pad pose serious logistical problems, he said. “They're not proposing to deliver from one uninhabited place to another uninhabited place; they're proposing to deliver from a warehouse to where the consumer is, which is likely an urban area,” he said. “There are going to be hazards along the way that the vehicle is going to have to detect. Maybe there will be terrain that the map doesn't know about. Even then, maybe there's construction equipment that wasn't there but is there now. Maybe GPS signals are blocked, in which case it's going to have an incorrect idea about where it is.” All this is surmountable, he said – but it's difficult.
<<end>>
<<text_id>>1_4_2
<<level>>Ele
<<text>>Professor Sanjiv Singh, who works for delivery company NearEarth, said that flying drones is quite simple – you just give it some basic instructions: go to this height, do this short task, go back home. But even short flights from a mobile landing place could cause serious problems, he said. “They're not planning to deliver in areas where nobody lives; they're planning to deliver from a warehouse to the consumer, which will probably be in a town or city,” he said. “The drone will have to see hazards. Maybe there will be things that the map doesn't know about. Maybe there will be construction equipment that wasn't there but is there now. Maybe GPS signals will be blocked so it's going to have an incorrect idea about where it is.” All this can be solved, he said – but it's difficult.
<<end>>
<<text_id>>1_4_3
<<level>>Adv
<<text>>One major problem is maintaining radio contact with a drone and planning for what happens if that contact breaks. “If you have an off-the-shelf UAV (unmanned aerial vehicle), it'll just keep going and crash into the ground,” said roboticist Daniel Huber. “Technologically, most of the things that are needed for this are in place,” said Huber. He is working on a program that proposes using drones to inspect infrastructure – pipelines, telephone lines, bridges and so on. “We've developed an exploration algorithm where you draw a box around an area and it'll autonomously fly around that area and look at every surface and then report back.”
<<end>>
<<text_id>>1_4_3
<<level>>Ele
<<text>>One big problem is keeping radio contact with a drone and planning for what happens if that contact breaks. ”If a drone loses radio contact, it will keep going and crash into the ground,” said robot expert Daniel Huber. “We already have most of the technology we need,” said Huber. He is working on a program that will use drones to check telephone lines, bridges and so on. “We can make drones fly around a certain area and look at every surface.”
<<end>>
<<text_id>>1_4_4
<<level>>Adv
<<text>>Huber said about Amazon: “I have heard them say that many packages are lightweight – a drone can carry a kilogram for 15 minutes. If you have a vehicle that can go into a neighborhood, it can deliver from that base. You need a 15-minute distance and typical off-the-shelf drones have about that distance.” It's one way, he said, of making sure the surrounding population is relatively safe. “The larger the distance the drone travels, the more dangerous it becomes.” Of course, safety remains a major concern – Singh points out that, for a commercial aircraft to be considered skyworthy, it has to prove a rate of one serious failure every one million hours. Drones, he said, are “one or two orders of magnitude away” from that benchmark. “The Reaper drone has one failure in 10,000 hours,” Singh said. An oil leak, by the way, doesn't count as catastrophic failure – something has to fall out of the sky.
<<end>>
<<text_id>>1_4_4
<<level>>Ele
<<text>>Huber said about Amazon: “They say that many packages are light – a drone can carry a kilogram for 15 minutes. If you have a vehicle that can go into a neighborhood, it can deliver from that vehicle. You need a 15-minute distance, and typical drones have about that distance.” It's one way, he said, to make sure people are safe. “The larger the distance, the more dangerous it becomes.” Of course, safety is still a big worry – Singh points out that for a passenger airplane to be allowed to fly, it can only have one serious failure every one million hours. Drones, he said, are much less safe. “The Reaper drone, for example, has one failure in 10,000 hours,” Singh said.
<<end>>
<<text_id>>1_4_5
<<level>>Adv
<<text>>Part of this is simply that air travel is inherently dangerous and, thus, standards are much higher. “If you fly commercial airlines, often they'll say, 'Oh, a small component has failed – we have to go back to the gate,'” Singh said. “And that's an established industry with 60 years of legacy! I shudder to think that one of these things might come down on a crowded highway.” Part of the solution, Singh said, is comprehensive contingency planning: “If things fail, the vehicle has to do something reasonable.”
<<end>>
<<text_id>>1_4_5
<<level>>Ele
<<text>>Part of the reason for this is simply that air travel is dangerous so standards are much higher. “If you fly a passenger airplane, often they will say, ‘Oh, a small part isn't working; we have to go back,'” Singh said. “And people have been flying passenger airplanes for 60 years! I hate to think that a drone might come down on a busy road.” Part of the solution, Singh said, is planning for every situation: “If things fail, the drone has to do something sensible.”
<<end>>

# Calculate and analyze similarity

In [7]:
from thefuzz import fuzz
from thefuzz import process

ModuleNotFoundError: No module named 'thefuzz'

In [22]:
fuzz.ratio("this is a test", "this is a test!")

97

In [23]:
fuzz.partial_ratio("this is a test", "this is a test!")

100

In [8]:
aligned = pd.read_csv("/Users/dima/Desktop/LaCC_lab/Keren's_project/aligned.csv")
aligned

,text_id,sentence_id,Text Ele Sentence,Text Adv Sentence
0,1_10_1,1,The Greek island of Agios Efstratios is very r...,"Agios Efstratios is so remote, so forgotten by..."
1,1_10_1,2,"Before the economic crisis in Greece, the peo...",Before Greece was plunged into financial chaos...
2,1_10_1,3,The few rooms to rent were fully booked every ...,They did their banking at the post office and ...
3,1_10_2,1,But the island still uses only cash so the clo...,"But, because the island still runs on cash, th..."
4,1_10_2,2,Local people have to make nine-hour round trip...,Residents have been forced to make nine-hour r...
...,...,...,...,...
380,2_4_1,2,"The new elements, all very radioactive, comple...","The new elements, all spectacularly short-live..."
381,2_4_2,1,NaN,The US-based International Union of Pure and A...
382,NaN,2,NaN,NaN
383,NaN,3,NaN,NaN
384,NaN,4,NaN,NaN

In [ ]:
mini_df = aligned.iloc[:10].reset_index(drop=True)
mini_df

In [ ]:
def add_sim_cols(df):
    df["len_Ele"] = df["Text Ele Sentence"].str.len()
    df["len_Adv"] = df["Text Adv Sentence"].str.len()
    df["len_diff"] = df["len_Adv"] - df["len_Ele"]
    df["fuzz_sim"] = df[["Text Ele Sentence", "Text Adv Sentence"]].apply(
        lambda r: fuzz.ratio(r["Text Ele Sentence"], r["Text Adv Sentence"]), axis=1)
    return df

mini_df = add_sim_cols(mini_df)
mini_df

In [ ]:
aligned = add_sim_cols(aligned)
aligned

In [ ]:
aligned["fuzz_sim"].describe()

In [ ]:
import seaborn as sns

In [ ]:
sns.histplot(aligned["fuzz_sim"])